<section>
  <div class="container">
    <div class="userInfo">
      <div class="userInitial">
        <h3>{{getInitial()?.toUpperCase()}}</h3>
      </div>
      <h3>{{(user$ | async)?.firstName.toUpperCase()}} {{(user$ | async)?.lastName.toUpperCase()}}</h3>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>

  <h2 class="total-balance"><mat-icon>account_balance_wallet</mat-icon>   Total balance:   {{totalBalance}}  PLN</h2>

  <br>
</section>

<app-pie-chart>

</app-pie-chart>

<div class="last-transactions-container">
  <span class="header">LATEST      <mat-icon>history</mat-icon></span>
  <br>
  <span class="last-transactions" *ngFor="let operation of lastOperations">
  <br>
  ID: {{operation.id}}
    Description: {{operation.description}}
    <br>
  Date: {{operation.date}}
    Value: {{operation.value}}
    <br>
</span>
</div>


