<section>
  <div class="container">
    <div class="userInfo">
      <div class="userInitial">
        <h3>{{getInitial()?.toUpperCase()}}</h3>
      </div>
      <h3>{{(user$ | async)?.firstName.toUpperCase()}} {{(user$ | async)?.lastName.toUpperCase()}}</h3>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>

  <h2>Total balance: {{totalBalance}}  PLN</h2>

  <br>
</section>

<app-pie-chart>

</app-pie-chart>

<span *ngFor="let operation of lastOperations">
  {{operation.id}}
  {{operation.description}}
  {{operation.date}}
  {{operation.value}}
  <br>

</span>
