.total-balance{
  padding-left: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
  width: 370px;
  margin-left: 10px;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.button{
  flex: 1;
}

.container{
  display: flex;
  flex-direction: row;
}

.userInfo{
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  flex: 3;
  background-color: #d6d6d6;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.userInitial{
  border-radius: 50%;
  background-color: gray;
  flex: 0.5;
  margin-right: 10px;
  max-width: 60px;
}

button {
  flex: 1;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: #d6d6d6;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  display: grid;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

button:hover {
  background-color: palevioletred;
  transition: background-color, 1s;
  cursor: pointer;
}

.last-transactions{
  line-height: 1.5em;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);


}
.last-transactions-container{
  margin-top: 10px;
  padding-bottom: 40px;
  padding-left: 55px;
  padding-top: 30px;
  background-color: white;
  height: 300px;
  width: 400px;
  border-radius: 30px 30px 30px 30px;


}

.header{
  line-height: 1.5em;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  padding-left: 100px;
}


