<section>
  <div class="container">
    <div class="userInfo">
      <div class="userInitial">
        <h3>{{getInitial()?.toUpperCase()}}</h3>
      </div>
      <h3>{{(user$ | async)?.firstName.toUpperCase()}} {{(user$ | async)?.lastName.toUpperCase()}}</h3>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>

  <h2>Total balance:  PLN</h2>

  <br>

</section>

<app-pie-chart>

</app-pie-chart>

<table style="width:100%; margin-top: 10px; height: 40%; border-color: black; border-style: dashed" *ngFor="">
<!--  <tr>-->
<!--    <th>COL 1 </th>-->
<!--    <th>COL 2 </th>-->
<!--  </tr>-->
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>

</table>
