
app-navigation {
  display: flex;
}

#navigation-buttons{
 display: flex;
 flex-direction: column;
}

.logo{
  width: 250px;
  height: 200px;
}

img{
  margin-left: 20px;
  margin-top: 10px;
  width: 250px;
  height: 200px;
}

.hype-link {
  color: black;
  width: 224px;
  margin: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.hype-link:hover{
  color: lightgray;
}
