
<div class="logo">
  <img src="./assets/images/keepcash-logo.png" alt="keepcash-logo" />
</div>

<div id="navigation-buttons">
<!--  <a routerLink="/user" [state]=user class="hype-link"> Dashboard </a>-->
  <a routerLink="/dashboard" class="hype-link"> <mat-icon>dashboard</mat-icon> Dashboard </a>
  <a routerLink="/scheduled" class="hype-link"> <mat-icon>calendar_today</mat-icon> Scheduled </a>
  <a routerLink="/heroes" class="hype-link"> <mat-icon>attach_money</mat-icon> Savings </a>
  <a routerLink="/heroes" class="hype-link"> <mat-icon>attribution</mat-icon> Profile </a>
  <a routerLink="/heroes" class="hype-link"> <mat-icon>build</mat-icon> Settings </a>
  <a routerLink="/contact" class="hype-link"> <mat-icon>contact_page</mat-icon> Contact </a>
</div>
