<div id="keepcash-logo-container">
  <img src="assets/images/keepcash-logo.png" id="keepcash-logo" alt="keepcash-logo">
</div>

<hr class="horizontal-separator">

<div id="navigation-container">
  <button routerLink="/user" class="navigation-button"> Dashboard </button>
  <button routerLink="/heroes" class="navigation-button"> Scheduled </button>
  <button routerLink="/heroes" class="navigation-button"> Savings </button>
  <button routerLink="/heroes" class="navigation-button"> Profile </button>
  <button routerLink="/heroes" class="navigation-button"> Settings </button>
  <button routerLink="/heroes" class="navigation-button"> Contact </button>
</div>
