
<div class="logo">
  <img src="./assets/images/keepcash-logo.png" alt="keepcash-logo" />
</div>

<div id="navigation-buttons">
<!--  <a routerLink="/user" [state]=user class="hype-link"> Dashboard </a>-->
  <a routerLink="/dashboard" class="hype-link"> Dashboard </a>
  <a routerLink="/scheduled" class="hype-link"> Scheduled </a>
  <a routerLink="/heroes" class="hype-link"> Savings </a>
  <a routerLink="/heroes" class="hype-link"> Profile </a>
  <a routerLink="/heroes" class="hype-link"> Settings </a>
  <a routerLink="/heroes" class="hype-link"> Contact </a>
</div>
