<ngx-charts-pie-chart
  *ngIf="pieChartData.length"
  [view]="view"
  [scheme]="colorScheme"
  [results]="pieChartData"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [explodeSlices]="explodeSlices"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-pie-chart>

<button class="button ">30 days</button>
<button class="button ">60 days</button>
<button class="button ">90 days</button>
