img{
  width: 400px;
  height: 350px;
}

.buttons{
  display: flex;
  flex-direction: row;
  margin: 10px;

}
.button{
  width: 60px;
  background-color: darkgray;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  flex: 1;
}

button:hover {
  background-color: lightgreen;
  transition: background-color, 1s;
  cursor: pointer;
}
