
<app-navigation>

</app-navigation>


<div class="main-view">
<!--  <app-menu-->
<!--    [accounts]="user.accounts"-->
<!--    [categories]="user.categories"-->
<!--  >-->
<!--  </app-menu>-->
  <router-outlet>

  </router-outlet>
</div>

<section>
  <app-section
    [firstName]="user.firstName"
    [lastName]="user.firstName"
  >
  </app-section>
</section>


<!--<app-simulation (onSimulationChange)="onSimulationChange($event)">  -->
<!--  // this.onSimulationChange.emit(value);-->
<!--  // @Output() onSimulationChange = new EventEmitter<Simulation>();-->
