<div class="text-center">
  <h2>CSV uploading</h2>
  <input class="form-control" type="file"
         accept="text/csv" (change)="onFileChange($event)">

  <select id="selectedBank" (change)="onBankChange($event)">
    <option *ngFor="let bank of banks$">
      {{bank.name}}
    </option>
  </select>

  <button (click)="onUpload()" class="btn btn-success">
    Upload
  </button>
</div>

<!--&lt;!&ndash; Shareable short link of  uploaded file &ndash;&gt;-->
<!--<div class="container text-center jumbotron"-->
<!--     *ngIf="shortLink">-->
<!--  <h2> Visit Here</h2>-->
<!--  <a href="{{shortLink}}">{{shortLink}}</a>-->
<!--</div>-->

<!--&lt;!&ndash;Flag variable is used here&ndash;&gt;-->
<!--<div class="container" *ngIf="loading">-->
<!--  <h3>Loading ...</h3>-->
<!--</div>-->
