Categories:
<br>
<div class="category-container">
  <br>
  <li *ngFor="let category of user?.categories" class="repo">
    <div class="category">
      <h3>Category id:</h3>
      {{category.id}}
      {{category.name}}
      <br><br>
    </div>

    <br><br>
  </li>
</div>
Accounts:
<br>
<div class="account-container">

  <br>
  <li *ngFor="let account of user?.accounts" class="repo">
    <div class="account">
      <h3>Account type:</h3>
      {{account.accountType.name}}
      {{account.accountNumber}}
      <br><br>

    </div>
  </li>
</div>
