.category-container, .account-container {
  display: flex;
  background: #ffffff;
  border-color: #ebebeb;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px;
}

.category, .account {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  margin-right: .8em;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
}
