<div class="categories-header">
  <h2>Categories</h2>
  <button type="button" mat-raised-button color="primary" ><mat-icon>add_circle</mat-icon> Add category</button>
</div>
<div class="category-container">
  <br>
  <li *ngFor="let category of (user$ | async)?.categories" class="repo">
    <a class="category" [routerLink]="['/categories', category.id]">
      <mat-icon>next_plan</mat-icon>
      <br/>
<!--      <h3>Category</h3>-->
<!--      {{category.id}}-->
      {{category.name}}
      <br><br>
    </a>

    <br><br>
  </li>
</div>

<div class="accounts-header">
  <h2>Account</h2>
  <button type="button" mat-raised-button color="primary"><mat-icon>add_circle</mat-icon> Add account</button>
</div>

<div class="account-container">
  <br>
  <li *ngFor="let account of (user$ | async)?.accounts " class="repo">
    <a class="account" [routerLink]="['/accounts', account.id]">
<!--      <h3>Account type:</h3>-->
      {{account.accountType.name}}
      <br><br>
      {{account.name}}
      <br><br>
      {{account.accountNumber}}
      <br><br>

    </a>
  </li>
</div>

<br>
<br>
<br>
<br>

<app-line-chart>

</app-line-chart>
