<body-login>
  <div id="form_wrapper">
    <div id="form_left">
      <img src="./assets/images/keepcash-logo.png" alt="keepcash-logo" />
    </div>
    <div id="form_right">
      <h1>Login</h1>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="Username"
          type="text"
          name="Username"
          id="field_username"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-lock"></i>
        <input
          placeholder="Password"
          type="password"
          name="Password"
          id="field_password"
          class="input_field"
        />
      </div>
      <input
        type="submit"
        value="Sign in"
        id="input_submit"
        class="input_field"
      />
      <h3 style="color: gray">New User? <a href="#"> Create your account!</a></h3>
    </div>
  </div>
  <div class="footer">
    <h3>Jakub Chorążyk | Bartosz Jakimko | Krzysztof Chromiec</h3>
  </div>
</body-login>
