<table class="table-header">
  <tr>
    <th>COL 1 </th>
    <th>COL 2 </th>
  </tr>
</table>

<table class="transactions">
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>
  <tr>
    <th>test </th>
    <th>test </th>
  </tr>

</table>

<app-line-chart>


</app-line-chart>
