<!--<h3>{{(category | async)?.operations[0].description}}</h3>-->
<!--<h3>{{(category | async)?.operations[1].description}}</h3>-->

<!--<app-sort-table [operationList]="(category | async)?.operations">-->
<app-sort-table [operationList]="(category | async)?.operations">

</app-sort-table>


<br>
<br>
<br>
<br>

<table class="table-header">
  <tr>
    <th>COL 1</th>
    <th>COL 2</th>
  </tr>
</table>

<table class="transactions">
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>
  <tr>
    <th>test</th>
    <th>test</th>
  </tr>

</table>

<app-line-chart>


</app-line-chart>
