/*.transactions {*/
/*  width:100%;*/
/*  margin-top: 10px;*/
/*  overflow-y:scroll;*/
/*  height:300px;*/
/*  display:block;*/
/*  border-color: black;*/
/*  border-style: dashed;*/
/*  line-height: 2em;*/
/*  margin-bottom: 50px;*/
/*}*/

/*.table-header{*/
/*  display: block;*/
/*  overflow-y: visible;*/
/*}*/

.header{
  margin: 5px 5px 30px 5px;
  flex: 1;
  max-width: 950px;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  padding-left: 35px;
  padding-bottom: 25px;
  text-align: center;
  display: flex;
  font-size: 16px;
  font-family: Verdana;
  background-color: #d6d6d6;
}

h1{
  padding-left: 300px;
}


