<body-register>
  <div id="form_wrapper">
    <div id="form_left">
      <img src="./assets/images/keepcash-logo.png" alt="keepcash-logo" />
    </div>
    <div id="form_right">
      <h1>User registration</h1>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="E-mail"
          type="email"
          name="Email"
          id="field_email"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="Username"
          type="text"
          name="Username"
          id="field_username"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="First name"
          type="text"
          name="Firstname"
          id="field_firstname"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="Last name"
          type="text"
          name="Lastname"
          id="field_lastname"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-lock"></i>
        <input
          placeholder="Password"
          type="password"
          name="Password"
          id="field_password"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-lock"></i>
        <input
          placeholder="Confirm password"
          type="password"
          name="Password"
          id="field_confirm_password"
          class="input_field"
        />
      </div>
      <input
        type="submit"
        value="Sign up"
        id="input_submit"
        class="input_field"
      />
    </div>
  </div>
  <div class="footer">
    <h3>Jakub Chorążyk | Bartosz Jakimko | Krzysztof Chromiec</h3>
  </div>
</body-register>


