<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container class="id" matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
  </ng-container>

  <ng-container matColumnDef="description">
    <th class="description" mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
  </ng-container>

  <ng-container class="value" matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
  </ng-container>

  <ng-container class="date" matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
  </ng-container>

  <ng-container class="category-change" matColumnDef="category-change">
    <th mat-header-cell *matHeaderCellDef> Change category</th>
  </ng-container>

  <ng-container class="action" matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
</table>


<div class="test">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>-->
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>-->
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>-->
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>-->
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="category-change">
      <td mat-cell *matCellDef="let element">
        <form [formGroup]="changeCategoryFormGroup">

          <select class="selected-account-type" [formControl]="id">
            <option *ngFor="let cat of categoryList" [value]="cat.id"> {{cat.name}}
            </option>
          </select>

          <button mat-button class="cat-update-button" (click)="updateOperationCategory(element.id)">
                <span class="material-icons">
                  check
                </span>
          </button>

        </form>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="action">
      <td mat-cell *matCellDef="let element">
        <button mat-button class="delete-button" (click)="deleteOperation(element.id)">
          <span class="material-icons">
            delete
          </span>
        </button>
      </td>
    </ng-container>

    <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

